/* Ion.RangeSlider, Simple Sk */

.irs {
    height: 140px;
}
.irs-with-grid {
    /*height: 75px;*/
}
.irs-line {
    height: 2px;
    top: 33px;
    background: #666;

}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 2px;
    top: 33px;
    background: #000;
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 26px;
    width: 12px;
    height: 12px;
    background: #ef4136;
    border-radius: 100%;
    -moz-border-radius: 100%;
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
  width: 66px;
  height: 66px;
  top:-66px;
  cursor: pointer;
    border: 1px solid #666;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-shadow: none;
    padding: 8px;
    background: transparent;
    border-radius: 100%;
    -moz-border-radius: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.irs-from:hover, .irs-to:hover, .irs-single:hover{
  border-color: #ef4136;
  box-shadow: #ef4136 0px 0px 10px -1px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
