@media screen  and (max-width: 767px){
.pcscreen {
  display: none;
}
.nomobile {
  display: none;
}
.loader {
  display: none;
}
.header {
  height: 750px;
  background-image: url('../img/mob/bg1.jpg');
  background-size: cover;
  overflow-x: hidden;
  .wrap_header {
    width: 300px;
    height: auto;
    padding-bottom: 0px;
  }
}
.webcam_logo span{
  display: none;
}
.call-button a {
  font-size: 10px;
  letter-spacing: 1px;
}
.header-bottom {
  height: 380px;
  flex-direction: column-reverse;;
  -webkit-flex-direction: column-reverse;
  .logo {
    display: block;
    width: 120px;
    margin: 0 auto;
    img {
      width: 120px;
      height: 156px;
    }
  }
}
.lang a{
  display: inline-block;
  margin-right: 6px;
  padding: 0;
  vertical-align: bottom;
}
.lang_dropdown {
  position: static;
  vertical-align: middle;
  display: inline-block;
  max-height: 50px;
}
.lang_dropdown li{
  display: inline-block;
}
.static_foot{
  margin-top: -72px;
}
.header-bottom.main {
  height: 380px;
}
.logo-name {
  text-align: center;
  margin: 24px auto;
  .main-text {
    font-size: 58px;
    font-family: $pdf;
    letter-spacing: 0px;
    }
  .bottom-text {
    font-size: 18px;
    font-family: $pdf-light;
  }
}

.main-content--2 {
  background-image: url('/img/bgg2_mob.jpg');
  background-size: 100% 100%;
  .content-layer {
    width: 100%;
    margin: 10vh 0 0 0;
  }
}
.content {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;

}
.content-left, .content-right,
.content-left.mobile, .content-right.mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
  width: 100%;
}
.aqua,.values2,.city,.quarter,.pedzone,.appart,.values,.place {
  width: 100%;
  height: auto;
  position: relative;
}
figure {
  margin-top: -5px;
  h2 {
  	padding-top: 30%;
    padding-bottom: 20%;
    font-size: 30px;
  }
}
figure.ef-milo img {
    height: auto;
}
.city,.quarter,.appart,.place {
  figure{
    h2{
      padding-top: 20%;
      padding-bottom: 6%;
    }
  }
}
.place figure h2 {
  padding-top: 15%;
  padding-bottom: 6%;
}
.tabs__name li {
    line-height: normal;
    font-size: 12px;
    letter-spacing: 1pt;
    padding: 0;
    height: 50px;
}
.call_my_left .call_my_bottom  input[type="text"],
.call_my_left .call_my_bottom  input[type="submit"],
.call_my_left .call_my_bottom  input[type="tel"],
.call_my_left .call_my_bottom  input[type="email"],
.call_my_left .call_my_bottom textarea{
   font-size: 14px;
 }
.tabs__inner .call_my_left .call_my_bottom input[type="submit"]{
  height: 50px!important;
  margin-bottom: 10px;
}

.footer, footer {
  position: initial;
  height: auto;

  }
.foot-wrap {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.allright {
  float: none;
  font-size: 10px;
  line-height: 14px;
  width: 60%;
  margin: 0 auto;
  }
.web {
  padding-top: 0px;
  float: none;
  img {
    width: 40px;
  }
}
footer span,
.footer span{
  font-size: 10px;
  line-height: 20px;
  float: none;
}

                                                // style for aqua
.cd-section {
  height: 100% !important;
  min-height: 0;
}
.vp_triptih{
  flex-direction: column;
  -webkit-flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}
.side_l, .side_r, .side_center{
  width: 100%;
  margin: 5px auto;
}
.side_l, .side_r{
  max-width: 300px;
}
.text__block{
  padding: 0 10px;
}


.main-text.vp {
  font-size: 30px;
}
.bottom-text.vp {
  font-size: 12px;
  font-family: $pdf-light;
  padding-top: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  &.list{
    padding-bottom: 6px;
  }
}
.logo-name.vp {
  width: 100%;
  padding-top: 40px;
  ul li{
    font-family: $pdf-light;
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 10px;
    font-size: 12px;
  }
}
.header-bottom{
  padding-bottom: 0;
}

.logo-name.blue {
  padding: 8px;
  }
footer {
  opacity: 0.8;
  height: auto;
  z-index: 2;
}


                                          // style for walk
  .pp1 {
    background: url('../img/mob/pp-1.jpg');
    background-size: cover;
    .header-bottom {
      height: 440px;
      .logo {
        margin-top: 30px;
      }
    }

  }
  .pp2 {
  background: url('../img/mob/pp-2.jpg');
  background-size: cover;
  .full {
    padding-top: 400px;
  }
  }
  .pp3 {
  background: url('../img/mob/pp-3.jpg');
  background-size: cover;
  position: relative;
  overflow: hidden;
  }
  .logo-name.pp {
    width: 290px;
    margin: 0 auto;
  }
  .pcscreen,
  .header-bottom .logo.pcscreen {
    display: none;
  }
  .header-bottom.mytab {
    justify-content : flex-end;
    -webkit-justify-content: flex-end;
    height: 100%;
    padding-top: 100px;
  }
  .full {
    height: 100%;
    padding-top: 100px;
  }
                                             // style for project
  .project__container {
    flex-direction: column;
  }
  .values__container {
    flex-direction: column-reverse;
  }
  .project__text, .values__text {
    margin: 0px auto 20px auto;
    padding: 0px 20px;
  }
  .project__image,.values__image {
    width: 320px;
    height: 200px;
    margin: 0 auto;
  }
  .project__sub-heading-values {
    margin: 20px auto;
    text-align: center;
  }

  // style for children start

  .playground__container {
    flex-direction: column-reverse;
  }
  .playground__text {
    width: 90%;
    margin: 0 auto;
  }
  .playground__image {
    width: 320px;
    margin: 0 auto;
    height: 220px;
  }
  .family-port__descr {
    flex-direction: column;
  }
  .family-port__img {
    order: 1;
    flex-grow: 0;
    width: 284px;
    margin: 10px auto;
  }
  .family-port__descr_blue-block {
    width: 90%;
    margin: 10px auto;
    h3 {
      text-align: center;
    }
    ul {
      width: 220px;
    }
  }
  .family-port__descr {
    justify-content: space-around;
  }

  // style for children end

 .proj1 {
   background: url('../img/mob/main-bg-lgrad.jpg');
   background-size: cover;
   }
 .proj2 {
   background: url('../img/mob/proj-1.jpg');
   background-size: cover;
   .logo-name.vp.proj{
      padding-top: 350px;
    }
  }
 .proj3 {
   background: url('../img/mob/proj-2.jpg');
   background-size: cover;
   position: relative;
   overflow: hidden;
  }
  .header-bottom.proj {
    justify-content: flex-end;
    -webkit-justify-content:flex-end;
  }
  .main-text.proj {
    font-size: 20px;
    width: 300px;
    padding-top: 10px;
    text-align: left;
    letter-spacing: 1px;

  }
   .logo-name.vp.proj{
      padding-top: 0px;
    }
    .logo-name--1.blue {
      padding: 10px;
      width: 300px;
      margin-top: 0px;
      background: rgba(0, 53, 170, 0.6);
      .bottom-text.vp {
        padding-top: 0;
      }
    }
                                         // style for build

.header.buld {
  background: url('../img/mob/build.jpg');
  background-size: cover;
  position: relative;
  height: auto;
  padding-bottom: 100px;
  overflow: hidden;
  .build-name {
    font-size: 36px;
    top:200px;
    left: 0px;
    }
  .logo-kiev {
    width: 200px;
  }
  .logo-more {
    padding-top: 50px;
    width: 75%;
    margin: 0 auto;
  .logo-more-top, .logo-more-bot {
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: relative;
    }
  .logo-more-bot {
    border-top: none;
  }
}
}
.header.buld .header-bottom {
  height: auto;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  align-items: center;
  -webkit-align-items: center;
}
.orgproj {
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}
.bud {
  position: absolute;
  top:50px;
  left: 10px;

}
.perfect {
  position: absolute;
  top:50px;
  left: 96px;
}
.kdd {
  position: absolute;
  top: 240px;
  left: 66px;
}
.river {
  position: absolute;
  top: 40px;
  left: 50px;
}
.buro {
  position: absolute;
  top: 220px;
  left: -10px;
}
.terra {
position: absolute;
top: 220px;
left: 112px;
}
.perfect, .river {
  border-right: none;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.river, .buro, .terra {
margin-top: 10px;
}
.orgproj{
  font-size: 10px;
  text-transform: uppercase;
  font-family: $pdf;
  p {
    line-height: 20px;
  }
}
.bud img{
  width: 72px;
}
.perfect img {
  width: 118px;
}
.kdd img {
  width: 90px;
}
.river img{
  width: 120px;
}
.buro img {
  width: 100px;
}
.terra img {
  width: 135px;
}

                                      // style for callback

.form-text {
  font-size: 14px;
  flex-direction: column;
  -webkit-flex-direction: column;

}
.form-text-more {
  width: 300px;
  font-size: 16px;
  padding-bottom: 4px;
}
.form-main {
  width: 300px;
  margin-top: 20px;
  flex-direction: column;
  -webkit-flex-direction: column;
  input {
    width: 100%;
    height: 38px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .itext{
    top: 31px;
    left: 279px;
  }
  .iphone{
    top: 82px;
    left: 279px;
  }
}
.icom{
  top: 7px;
  left: 279px;
}
.form-call {
  padding-top: 20px;
}
.form-call, .form-com {
  width: 100%;
  position: relative;
  textarea{
    height: 78px;
    font-size: 14px;
    text-indent: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    }
}
.form-comp {
  font-size: 16px;
  margin: 6px auto;
  a {
    padding-bottom: 3px;
  }
}
.form-button {
  text-align: center;
  input {
    width: 100%;
    height: 48px;
    line-height:48px;
    }
}
img.riv {
  width: 80px;
}
img.kiev {
  width: 52px;
}
img.per {
  width: 92px;
}
.block-prev-next {
    top: 90px;
}
.forms_btns{
  margin: 10px auto 0;
  padding: 0 10px;
}
.anonymous-feedback_btn{
  width: 100%;
  max-width: 300px;
}
                              //style for value
.vl1 {
background: url('../img/mob/vp-2.jpg');
background-size: cover;
}
.vl2 {
background: url('../img/mob/value2.jpg');
background-size: cover;
height: 535px;
.header-bottom.mytab {
  padding-top: 180px;
}
}
.vl3 {
background: url('../img/mob/values-big.jpg') center no-repeat;
// background-position: center;
background-size: cover;
position: relative;
height: 1240px;
overflow: hidden;
.header-bottom.mytab{
  padding-top: 830px;
}
}
.val-wrap {
  .logo-name.vp ul li {
    text-align: left;
    padding-bottom: 4px;
    font-size: 12px;
  }
  .logo-name{
    width: 100%;
  }
}
.header-bottom.val {
  .logo-name {
    width: auto;
  }
  .logo {
    margin-top: 50px;
  }
}
.bottom-text.vp.vl.list {
  font-size: 24px;
  text-transform: none;
  line-height: 26px;
}


                                              //style for place
.big-video-wrap,
.video-js {
  display: none!important;

}
  .header.place {
    background-image: url('../img/mob/place2.jpg');
    background-size: cover;
    height: 750px;
    .header-bottom {
      .place-link{
        width: 280px;
        height: 88px;
        margin-bottom: 50px;
        margin-top: 280px;
        }
      .place-link:after {
        height: 54px;
        width: 28px;
        content: '';
        right: 0;
        top: 60px;
        background: url('../img/icons/arrow-right.png');
      }
      .place-link a{
        font-size: 36px;
      }
    }
  }
                                   //style for map
.header-bottom.mapflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
}
.map_flex {
  display: flex;
  display: -webkit-flex;
  color: $blue;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  // height: 120px;
  width: 100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .map_flex_items {
    text-transform: uppercase;
    padding-bottom: 0px;

    &.last {
      width: 170px;
    }
    .map-min {
      font-size:60px;
      font-family: $pdf-xbold;
      float: left;
    }
    .app-text {
      font-size: 12px;
      font-family: $pdf-light;
      padding-top: 13px;
    }
    .app_com {
      font-size: 14px;
      font-family: $pdf-bold;
      letter-spacing: -1px; clear: none;
    }
  }
}
.wrap_map_pop {
  width: 100%;
  position: relative;
}
.map-pop-up {
  // width: 370px;
  position: absolute;
  top: 20vh;
  // right:0;
  .map-up-close {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 20px;
    right:-30px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
  }
}
#pop-map {
  opacity: 1;
  right: 17px;;
  top: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
      #map { width: 100%; height: 1320px; }
      #firstHeading{
            display: block;
      font-size: 2em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      }
      #siteNotice{
      width: 200px;
      background: #fc0;
      padding: 5px;
      border: solid 3px black;
      float: left;
      position: relative;
      top: 40px;
      left: -70px;
      }
      .gm-svpc {
       top: -32px !important;
      }
      .wrap_header.map {
        height: 100%;padding: 10px;box-sizing: border-box;
        .map-wrap {
          width: 100%;max-width: 320px;
          height: 100%;
          .header-bottom {
            height: 700px;
            padding-bottom: 0;
          }
        }
      }
    .cd-modal-content {
    position: relative;
    overflow-y: auto;
    height: 750px;
  }
                                                    // style for infra
.infra1 {
background: url('../img/mob/infra1.jpg');
background-size: cover;
.header-bottom {
  height: 436px;
}
.logo-name.vp.blue {
  width: 300px;
  ul li {
    padding-bottom: 6px;
  }
}
}
.infra2 {
background: url('../img/mob/inf-bg.jpg') center no-repeat;
background-size: 100% 300%;
background-position-y: -30px;height: 400px;
}
.infra3 {
background: url('../img/mob/infra3.jpg');
background-size: cover;
position: relative;
overflow: hidden;
.header-bottom.mytab {
  padding-top: 126px;
}
}

.logo-name.vp.infra.blue {
  width: 300px;
}
.main-text.vp.lit {
  font-size: 24px;
  border: none;
}

                        // style for appartament
.header.place.app {
background: url('../img/app-bg.jpg');
background-size: cover;
.header-bottom{
  .logo img {
    margin-right: 10px;
  }
  .place-link{
  width: 300px;
  font-size: 36px;
  font-family: $pdf-xthin;
  height: auto;
  margin-bottom: 10px;
  border-bottom: none;
  .app_com {
    border-top: 1px solid white;
    padding-top: 25px;
  }
}
  .place-link:after {
    height: 54px;
    width: 28px;
    content: '';
    right: 0;
    top: 45px;
    background: url(../img/icons/arrow-right.png);
  }
}
.header-bottom {
  height: 400px;
  .app_flex {
    display: none;

    .app_flex_items {
      display: flex;
      flex-direction: row;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      .app_img {
        width: 200px;
        text-align: center;
      }
      .app_com {
        width: 310px;
        text-align: left;
        height: 40px;
        padding: 0 20px;
        line-height: 16px;
      }
    }
  }
}
}
.header.app1 {
background: url('../img/app-bg1.jpg');
background-size: cover;
}
.app-build-name {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  font-size: 50px;
  text-transform: uppercase;
  top: 256px;
}

                                    //style for houses

.house1 {
background: url('../img/mob/house1.jpg');
background-size: cover;
}
.house2 {
background: url('../img/mob/house2.jpg');
background-size: cover;
.header-bottom.mytab {
  padding-top: 350px;
}
}
.house3 {
background: url('../img/mob/house3.jpg');
background-size: cover;
}
.house4 {
background: url('../img/mob/house4.jpg');
background-size: cover;
position: relative;
.header-bottom {
  height: 56%;
}
}
.header.house4 .logo-name.vp ul li {
  padding-bottom: 0;
  padding-top: 10px;
}


                                     //style for quarter
.content.quarty, .content-bottom{
  figcaption {
      padding-left: 0px;
  }
  h2 {
    font-size: 24px;
    padding-left: 10px;

  }
  figure.ef-milo p {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 25px;

  }
}
.header.quarty {
  .header-bottom{
    height: 413px;

    .logo-name {
      width: 280px;
      margin: 30px auto;
      .bottom-text {
        font-family: $pdf-light;
        padding-bottom: 20px;
      }
    }
  }
}
.content-bottom {
  position: relative;
  .quarter figure {
    text-align: right;
    img {
      height: 200px;
    }
    .fig-wrap {
      padding-left: 3%;
      h2 {
    padding-top: 10%;
    padding-bottom: 10px;
    width: 300px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 20px;
    }
    p {
    text-align: left;
    // margin: 0 auto;
    width: 300px;
    float: left;
    font-size: 10px;
    padding-bottom: 96px;
    }
    p.mini-p {
    display: none;
    font-size: 10px;
    padding-top: 16px;
    padding-bottom: 60px;
  }
  }
  }
  }

  //  style for menu
.my_menu {
  .left_top_item{
    width: 40%;
  }
}
// callback-form style
.call_my{
  width: auto;
  }
.call_my_logo {
  margin: 0 auto;
  padding: 0;
  img{
    width: 120px;
    height: auto;
  }
}
.call_my_right{
  width: 0;
  position: static;
  .call_my_close{
    top: 0;
    width: 24px;
    svg{
      width: 100%;
      height: 100%;
    }

  }
}
.call_my_left {
  width: 100%;
.call_my_name {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}
.call_my_bottom{
  // width: 100%;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  align-content: center;
  -webkit-align-content: center;
  .call_my_form {
    width: 300px;
    margin: 0 auto;
    span {
    top: 15px;
    font-size: 30px;
    }
    span.iphone{
      top: 74px;
    }
    input[type="text"],
    input[type="submit"],
    input[type="tel"],
    textarea {
      width: 100%;
      margin-left: 0;
      height: 48px;
      margin-bottom: 10px;
      font-size: 14px;
      font-family: $pdf-light;
      line-height: 36px;
      text-indent: 6px;
      border: none;
      -webkit-appearance: none;
       border-radius: 0px;
        }
    textarea {
      text-indent: 6px;
    }
    input[type="submit"]{
      width: 100%!important;
      font-style: normal;
      font-size: 16px!important;
      border: 1px solid white;
        }
    }
}
}
.call_my iframe {
    width: auto !important;
}


                                                    // style for stroy
.header.buld.stroy {
  background-image: url('../img/stroy-bg.jpg');
  height: auto;
  .logo {
    margin: 20px auto 80px;
  }
}
.stroy {
  width: 280px;
  margin: 0 auto;

}

.stroy_item{
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: 12px;
  figcaption {
    width: 57%;
    height: 100%;
    margin-left: 5%;
    position: static;
    .stroy_date {
      margin-top: 16px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .stroy_name {
      font-size: 16px;
      font-family: $pdf-medium;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    // .stroy_text.blue {
    //   font-size: 16px;
    //   font-family: $pdf-light;
    //   background: rgba(0, 53, 170, 0.6);
    //   padding: 10px;
    //   margin-bottom: 10px;
    // }
  }
}
.stroy .stroy_right {
  padding-top:0;
  display: none;
}
.timeline {
  display: none;
}






.webname {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.webcam {
    width: auto;
}
.web1, .web2 {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.stroy.news {
  height: auto;
  width: 100%;
  margin: 20px 0;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.news-item {
  height: auto;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.news-item .news-content {
  width: 100%;
}
.news-item .news-content span {
  margin-bottom: 60px;
}
.news_one_img {
  width: 100%;
  height: 200px;
  float: none;
  margin: 0;
}
.stroy-news_one {
  padding-right: 0;
  overflow: hidden;
  .fatality {
    width: 100%;
    float: none;
    margin: 0;
  }
  .news-date {
    width: auto;
    float: left;
  }
  .news-atributes {
    padding: 12px;
  }
  h1 {
    padding: 0 5px;
  }
  h1 ~ p{
    display:block;
    padding: 0 5px;

  }
}
.map_flex .map_flex_items {
  height: auto;
}

}

@media only screen and (min-width : 320px) and (max-width : 768px)
and (orientation : landscape) {

.main-content--2 {
  background-image: url('/img/choice2.jpg');
  background-size: 100% 100%;

}
}

@media only screen and (max-width:535px) {
  .top-menu__container{
    max-width: 300px;
    margin: 0 auto;
  }
  .call {
    float: none;
  }
  .call-phone, .webcam_logo {
    margin: 10px;
      // margin-right: 4px;
  }
}
@media only screen and (max-width:500px) {
  .my_menu_wrap{
    position: static;
    transform: none;
    -webkit-transform: none;
  }
  .top-menu__container{
    text-align: center;
    .call-button a{
      padding: 5px 38px;
    }
  }
  .my_menu {
    .left_top_item{
      width: 80%;
    }
    .item__logo{
      display: none;
    }
  }
}
